1051 - Height Checker

Students are asked to stand in non-decreasing order of heights for an annual photo.

Return the minimum number of students not standing in the right positions.  (This is the number of students that must move in order for all students to be standing in non-decreasing order of height.)

In [ ]:
class Solution(object):
    def heightChecker(self, heights):
        """
        :type heights: List[int]
        :rtype: int
        """
        if not heights:
            return 0 
        sorted_heights = sorted(heights)
        count = 0 
        for i in range(len(heights)):
            if heights[i] != sorted_heights[i]:
                count += 1 
        return count

1068 -  Product Sales Analysis I

In [ ]:
# Write your MySQL query statement below
select b.product_name, a.year, a.price 
from Sales a join Product b 
on a.product_id = b.product_id

1069 - Product Sales Analysis II

In [ ]:
# Write your MySQL query statement below
select product_id, sum(quantity) as total_quantity
from Sales
group by 1
order by 1

1082 - Sales Analysis I

Write an SQL query that reports the best seller by total sales price, If there is a tie, report them all.

In [ ]:
# Write your MySQL query statement below
# group by seller_id, sum total prices 
# find top sellers 
select seller_id  
from (
        select seller_id, sum(price) as total_price 
        from Sales 
        group by seller_id) tmp 
where total_price in (
select max(tot)
    from (
select seller_id, sum(price) as tot
    from Sales group by seller_id) tmp2
  )

In [ ]:
/* Write your T-SQL query statement below */
with tmp as (
    select seller_id, sum(price) as total_price 
    from Sales 
    group by seller_id )
    
select seller_id
from tmp 
where total_price in (
select max(total_price) from tmp
)


-- WITH sales_tb AS
-- (SELECT seller_id, SUM(price) AS price
-- FROM Sales
-- GROUP BY seller_id)
-- SELECT seller_id
-- FROM sales_tb 
-- WHERE price = 
-- (SELECT max(price) FROM sales_tb)

1086 - High Five

Given a list of scores of different students, return the average score of each student's top five scores in the order of each student's id.

Each entry items[i] has items[i][0] the student's id, and items[i][1] the student's score.  The average score is calculated using integer division.

 

Example 1:

Input: [[1,91],[1,92],[2,93],[2,97],[1,60],[2,77],[1,65],[1,87],[1,100],[2,100],[2,76]]
    
Output: [[1,87],[2,88]]

In [ ]:
# hash table and heap 
from heapq import heappush, heappop 
class Solution(object):
    def highFive(self, items):
        """
        :type items: List[List[int]]
        :rtype: List[List[int]]
        """
        if not items:
            return []
        # hash table with key = id, value = top 5 scores 
        hash_table = {}
        for item in items:
            if item[0] not in hash_table:
                hash_table[item[0]] = []
                heappush(hash_table[item[0]], item[1])
            else:
                heappush(hash_table[item[0]], item[1])
                if len(hash_table[item[0]]) > 5:
                    heappop(hash_table[item[0]])
        # print(hash_table)
        results = []
        for ids in hash_table:
            results.append([ids, sum(hash_table[ids]) / len(hash_table[ids])])
        return results

1099 - Two Sum Less Than K

Given an array A of integers and integer K, return the maximum S such that there exists i < j with A[i] + A[j] = S and S < K. If no i, j exist satisfying this equation, return -1.

 

Example 1:

Input: A = [34,23,1,24,75,33,54,8], K = 60
    
Output: 58

In [ ]:
# two pointers 
# as cloest sum number can be combinations of any two numbers as long as their sum < K, 
# loop through all qualified pairs and use a global variable to record the current cloest sum  
class Solution(object):
    def twoSumLessThanK(self, A, K):
        """
        :type A: List[int]
        :type K: int
        :rtype: int
        """
        if not A:
            return -1 
        # sort 
        A.sort()
        left, right = 0, len(A) - 1 
        # initialization 
        cloest = None
        
        while left < right:
            while left < right and A[left] + A[right] >= K:
                right -= 1 
            while left < right and A[left] + A[right] < K:
                # if cloest is not set yet 
                if cloest == None:
                    cloest = A[left] + A[right]
                else: 
                    # if there is already 
                    if (K - A[left] - A[right]) < (K - cloest):
                        cloest = A[left] + A[right]
                left += 1 
                
        return cloest if cloest is not None else -1